<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tour.android.com.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:name="com.splayer.app.SPlayerApplication"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <activity android:name="com.splayer.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
